    <!-- Sección de Contacto -->
    <footer class="rounded-lg shadow  m-4" id="contacto">
      <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <a
            href="https://github.com/JohanBoDev"
            target="_blank"
            class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
          >
            <span
              class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white titulo_proyectos"
              >JohanBoDev</span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="white"
              class="bi bi-braces"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6M13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6"
              />
            </svg>
          </a>
          <ul
            class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400 space-x-5"
          >
            <li>
              <a
                href="#inicio"
                class="hover:underline me-4 md:me-6 titulo_proyectos"
                >Inicio</a
              >
            </li>
            <li>
              <a
                href="#sobre_mi"
                class="hover:underline me-4 md:me-6 titulo_proyectos"
                >Sobre mí</a
              >
            </li>
            <li>
              <a
                href="#proyectos"
                class="hover:underline me-4 md:me-6 titulo_proyectos"
                >Proyectos</a
              >
            </li>
            <li>
              <a href="#educacion" class="hover:underline titulo_proyectos"
                >Educación</a
              >
            </li>
          </ul>
        </div>
        <hr
          class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <p
          class="block text-sm sm:text-center dark:text-gray-400 titulo_proyectos"
        >
          © 2025
          <a
            href="https://github.com/JohanBoDev"
            target="_blank"
            class="hover:underline titulo_proyectos"
            >Johan Bohorquez</a
          >. Todos los derechos reservados.
        </p>
      </div>
    </footer>