    <!-- home -->
    <section class="h-screen flex justify-center items-center p-5" id="inicio">
      <article
        class="inicio_johan flex flex-col lg:flex-row gap-8 p-5 mt-0 md:mt-16"
      >
        <!-- Imagen de perfil -->
        <div class="flex justify-center lg:w-1/3">
          <img
            src="assets/johan_inicio.png"
            class="h-44 w-44 sm:h-52 sm:w-52 lg:h-[22rem] lg:w-[22rem] object-cover rounded-full"
            alt="Johan Bohorquez"
          />
        </div>

        <!-- Contenedor de texto -->
        <div
          class="inicio_johan flex flex-col justify-center items-center gap-y-3 lg:gap-y-7 lg:w-2/3 text-center"
        >
          <h6
            class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold text-gray-300 text-shadow-md"
          >
            <span class="text-typing">Hola, mi nombre es...</span>
            <span class="cursor"></span>
          </h6>

          <h2
            class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-gray-500 text-shadow-lg"
          >
            Johan Bohorquez
          </h2>

          <h6
            class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-extrabold text-gray-400 text-shadow-lg"
          >
            Desarrollador de Software
          </h6>

          <!-- Enlaces de redes sociales -->
          <nav class="p-3 flex">
            <ul
              class="flex gap-x-8 p-3 bg-white/30 rounded-2xl nav_movil"
              style="backdrop-filter: blur(10px)"
            >
              <li>
                <a
                  class="text-white"
                  href="https://github.com/JohanBoDev"
                  target="_blank"
                  ><i class="fab fa-github"></i
                ></a>
              </li>
              <li>
                <a
                  class="text-white"
                  href="https://www.linkedin.com/in/johan-bohorquez-44341a270/"
                  target="_blank"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </li>
              <li>
                <a class="text-white" href=""><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a
                  class="text-white"
                  href="https://www.instagram.com/Jbohorquezzz"
                  target="_blank"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
              <li>
                <a
                  class="text-white"
                  href="https://www.facebook.com/profile.php?id=100008195148319"
                  target="_blank"
                  ><i class="fab fa-facebook"></i
                ></a>
              </li>
              <li>
                <a
                  class="text-white"
                  href="assets/CV Johan Bohorquez.pdf"
                  download
                  ><i class="fas fa-download"></i
                ></a>
              </li>
            </ul>
          </nav>

          <!-- Botón de contacto -->
          <button
            class="flex items-center justify-center gap-x-3 px-6 py-3 text-white font-semibold rounded-full shadow-xl relative"
          >
            <div
              class="w-4 h-4 bg-white rounded-full animate-pulse ring-2 ring-white absolute left-0 top-1/2 transform -translate-y-1/2"
            ></div>
            Disponible para trabajar
          </button>

          <!-- Flecha de navegación -->
          <div class="flex justify-center items-center mt-4">
            <a href="#sobre_mi" class="text-white text-4xl animate-bounce">
              <i class="fas fa-chevron-down"></i>
            </a>
          </div>
        </div>
      </article>
    </section>