---
import Iconos from "./Iconos.astro";
import "../styles/global.css";
---

<!-- Sobre mi -->
<section id="sobre_mi" class="">
  <article class="grid-container gap-y-3 ">
    <!-- Sección de presentación item 1-->
    <div
      class="sombras grid-item item-1 flex flex-col-reverse justify-center items-center lg:flex-row gap-x-5 borde_bento"
    >
      <div class="lg:w-2/3 flex flex-col gap-y-5">
        <p class="text-lg text-gray-300 font-montserrat">
          Fuera del mundo del <b>desarrollo web</b> , me gusta hacer deporte y leer.
          Le doy mucha importancia al equilibrio entre el trabajo y la vida personal
          para poder mantener la creatividad y el bienestar en mi vida.
        </p>

        <p class="text-lg text-gray-300 font-montserrat">
          Logré ser reconocido como estudiante destacado en el bootcamp
          <b>Talento Tech</b> y seleccionado por el <b>SENA</b> para formar parte
          del proyecto Sennova.
        </p>

        <!-- Botón de contacto  -->
<a
  href="mailto:bohorquezjohan958@gmail.com?subject=Quiero comunicarme contigo&body=Hola, me gustaría contactar contigo."
  class="inline-block mt-5 text-center px-6 py-3 rounded-full bg-white/20 hover:bg-white/30 text-white font-semibold backdrop-blur-md transition duration-300 shadow-md"
>
  Contáctame
</a>
      </div>
      <div class="mt-5 lg:mt-0">
<img
  class="w-full h-64 rounded-xl object-cover mb-5 lg:mb-0 block sm:hidden xl:block"
  src="assets/johan_bento.jpeg"
  alt="Foto de Johan Bohorquez"
/>
      </div>
    </div>
    <!-- Sección de mis redes item 4-->
    <div
      class=" mt-5 lg:mt-0 h-80 lg:ml-5 rounded-xl overflow-hidden sombras"
      style="
            background-image: url('assets/img/johan_redes_bento_edit2.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: rgba(0, 0, 0, 0.1);
          "
    >
      <!-- Contenido de redes sociales, oculto inicialmente y visible al hacer hover -->
      <div
        class="flex flex-col item-4 items-center justify-center w-full h-full"
      >
        <h2
          class="text-sm font-montserrat md:text-lg xl:text-xl text-white font-bold mb-5 bg-black/10  shadow-gray-300 rounded-xl px-4 py-2"
        >
          Mis redes sociales y CV
        </h2>

        <div class="flex justify-center items-center gap-4 mb-4">
          <a
            href="https://www.facebook.com/profile.php?id=100008195148319"
            target="_blank"
            class="w-10 h-10 rounded-full bg-black sombras shadow-gray-300 text-white flex items-center justify-center"
          >
            <!-- Icono de Facebook -->
            <i class="fab fa-facebook-f"></i>
          </a>
          <a
            href="https://github.com/JohanBoDev"
            target="_blank"
            class="w-10 h-10 rounded-full bg-black sombras shadow-gray-300 text-white flex items-center justify-center"
          >
            <!-- Icono de Github -->
            <i class="fab fa-github"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/johan-bohorquez-44341a270/"
            target="_blank"
            class="w-10 h-10 rounded-full bg-black sombras shadow-gray-300 text-white flex items-center justify-center"
          >
            <!-- Icono de LinkedIn -->
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <a
          download="CV Johan Bohorquez.pdf"
          href="assets/CV Johan Bohorquez.pdf"
          class="p-3 rounded-full bg-black sombras shadow-gray-300 text-white"
        >
          Descargar CV
        </a>
      </div>
    </div>
  </article>

  <article class="grid-container-2 gap-5">
    <!-- Sección de educación item 4-->
    <div class="flex flex-col w-full lg:flex-row gap-5 lg:mr-5">
      <div
        class="sombras w-full mt-5 lg:mt-0 relative overflow-hidden rounded-[15px] bg-top bg-cover flex items-center justify-center"
        style="background-image: url('assets/img/educacion_edit.webp');"
      >
        <div
          class="item-4 flex flex-col items-center justify-center w-full h-full"
        >
          <div class="text-center text-white p-6">
            <h3
              class="text-lg font-montserrat lg:text-xl font-bold mb-4 uppercase tracking-wide"
            >
              Mi educación
            </h3>

            <div class="flex flex-col items-center gap-2">
              <i class="fas fa-laptop-code text-gray-300 text-3xl"></i>
              <p class="text-lg text-gray-200 text-center">
                Análisis y desarrollo de software - SENA
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sección de tecnologías item 5-->
    <div
      class="grid-item item-5 mt-5 lg:mt-0 relative overflow-hidden group sombras"
    >
      <!-- Carrusel de tecnologías, oculto inicialmente y visible al hacer hover -->
      <div
        class="overflow-x-auto max-w-full px-4 sm:px-0 py-10 absolute inset-0 flex flex-col items-center justify-center transition-opacity duration-300 z-20"
      >
        <div class="flex gap-4">
          <h3
            class="text-gray-300 font-bold text-center font-montserrat text-lg lg:text-2xl"
          >
            Tecnologías
          </h3>
        </div>
        <div class="tecnologias pt-10">
          <!-- 🖥️ Desarrollo Web -->
          <div class="flex items-center justify-center">
            <Iconos nombre="html" clase="w-10 h-10 md:w-[60px] md:h-[60px]" />
          </div>
          <div class="flex items-center justify-center">
            <Iconos nombre="css" clase="w-10 h-10 md:w-[60px] md:h-[60px]" />
          </div>
          <div class="flex items-center justify-center">
            <Iconos
              nombre="tailwind"
              clase="w-10 h-10 md:w-[60px] md:h-[60px]"
            />
          </div>
          <div class="flex items-center justify-center">
            <Iconos
              nombre="javascript"
              clase="w-10 h-10 md:w-[60px] md:h-[60px]"
            />
          </div>
          <div class="flex items-center justify-center">
            <Iconos nombre="react" clase="w-10 h-10 md:w-[60px] md:h-[60px]" />
          </div>
          <div class="flex items-center justify-center">
            <Iconos nombre="astro" clase="w-10 h-10 md:w-[60px] md:h-[60px]" />
          </div>
          <div class="flex items-center justify-center">
            <Iconos nombre="git" clase="w-10 h-10 md:w-[60px] md:h-[60px]" />
          </div>
          <div class="flex items-center justify-center">
            <Iconos
              nombre="postman"
              clase="w-10 h-10 md:w-[60px] md:h-[60px]"
            />
          </div>
          <div class="flex items-center justify-center">
            <Iconos nombre="docker" clase="w-10 h-10 md:w-[60px] md:h-[60px]" />
          </div>

          <!-- 💻 Lenguajes y Frameworks -->
          <div class="flex items-center justify-center">
            <Iconos nombre="Java" clase="w-10 h-10 md:w-[60px] md:h-[60px]" />
          </div>
          <div class="flex items-center justify-center">
            <Iconos nombre="php" clase="w-10 h-10 md:w-[60px] md:h-[60px]" />
          </div>
          <div class="flex items-center justify-center">
            <Iconos nombre="node" clase="w-10 h-10 md:w-[60px] md:h-[60px]" />
          </div>
          <div class="flex items-center justify-center">
            <Iconos
              nombre="express"
              clase="w-10 h-10 md:w-[60px] md:h-[60px]"
            />
          </div>
          <div class="flex items-center justify-center">
            <Iconos nombre="nest" clase="w-10 h-10 md:w-[60px] md:h-[60px]" />
          </div>
          <div class="flex items-center justify-center">
            <Iconos
              nombre="firebase"
              clase="w-10 h-10 md:w-[60px] md:h-[60px]"
            />
          </div>

          <!-- 🗄️ Bases de Datos -->
          <div class="flex items-center justify-center">
            <Iconos nombre="mongo" clase="w-10 h-10 md:w-[60px] md:h-[60px]" />
          </div>
          <div class="flex items-center justify-center">
            <Iconos
              nombre="postgresql"
              clase="w-10 h-10 md:w-[60px] md:h-[60px]"
            />
          </div>
          <div class="flex items-center justify-center">
            <Iconos nombre="mysql" clase="w-10 h-10 md:w-[60px] md:h-[60px]" />
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
