---
import Iconos from "./Iconos.astro";
---
  
  <!-- slide de tecnologias-->
    <section
      id="tecnologias"
      class="w-full flex flex-col justify-center items-center overflow-hidden text-center"
    >
      <p class="achievement-highlight font-bold mb-10">
        Conocimiento técnico para transformar ideas en realidad, siempre abierto
        a aprender y adaptarme a nuevas tecnologías.
      </p>
      <div class="slider-track" id="slider-track">
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 1 aquí -->
           <Iconos nombre="html" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 2 aquí -->
          <Iconos nombre="css" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 3 aquí -->
          <Iconos nombre="tailwind" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 4 aquí -->
          <Iconos nombre="javascript" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 5 aquí -->
          <Iconos nombre="git" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 6 aquí -->
          <Iconos nombre="Java" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 7 aquí -->
          <Iconos nombre="node" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 8 aquí -->
          <Iconos nombre="react" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 9 aquí -->
          <Iconos nombre="nest" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 1 aquí -->
          <Iconos nombre="astro" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 2 aquí -->
          <Iconos nombre="express" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 3 aquí -->
          <Iconos nombre="php" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 4 aquí -->
          <Iconos nombre="firebase" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 5 aquí -->
          <Iconos nombre="mongo" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 6 aquí -->
          <Iconos nombre="postgresql" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 7 aquí -->
          <Iconos nombre="mysql" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 8 aquí -->
          <Iconos nombre="postman" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 9 aquí -->
          <Iconos nombre="docker" clase="w-20 h-20 md:w-[150px] md:h-[150px]" />
        </div>

      </div>
    </section>