---
import Iconos from "./Iconos.astro";
---
  
  <!-- slide de tecnologias-->
    <section
      id="tecnologias"
      class="w-full flex flex-col justify-center items-center overflow-hidden text-center"
    >
      <p class="achievement-highlight font-bold mb-10">
        Conocimiento técnico para transformar ideas en realidad, siempre abierto
        a aprender y adaptarme a nuevas tecnologías.
      </p>
      <div class="slider-track" id="slider-track">
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 1 aquí -->
           <Iconos nombre="html" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 2 aquí -->
          <Iconos nombre="css" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 3 aquí -->
          <Iconos nombre="tailwind" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 4 aquí -->
          <Iconos nombre="javascript" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 5 aquí -->
          <Iconos nombre="git" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 6 aquí -->
          <Iconos nombre="Java" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 7 aquí -->
          <Iconos nombre="node" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 8 aquí -->
          <Iconos nombre="react" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 9 aquí -->
          <Iconos nombre="nest" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 1 aquí -->
          <Iconos nombre="astro" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 2 aquí -->
          <Iconos nombre="express" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 3 aquí -->
          <Iconos nombre="php" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 4 aquí -->
          <Iconos nombre="firebase" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 5 aquí -->
          <Iconos nombre="mongo" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 6 aquí -->
          <Iconos nombre="postgresql" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 7 aquí -->
          <Iconos nombre="mysql" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 8 aquí -->
          <Iconos nombre="postman" tamaño={120} />
        </div>
        <div class="w-[300px] flex items-center justify-center mx-2">
          <!-- SVG icon 9 aquí -->
          <Iconos nombre="docker" tamaño={120} />
        </div>

      </div>
    </section>